Source: build-perl
Section: admin
Priority: extra
Maintainer: Larig Tech <larig.tech@gmail.com>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.0.0)

Package: build-perl
Architecture: all
Depends: build-essential
Suggests: libmojolicious-perl
Description: Build any version of perl (5.12 or later) with custom paths
 Download, build, test, deploy a chosen version of perl in a consistent,
 low-effort way so that deploying to many machines across several architectures
 becomes easy.
