#!/usr/bin/make -f

package := $(shell dpkg-parsechangelog|grep ^Source|cut -d' ' -f2)
version := $(shell dpkg-parsechangelog|grep ^Version|cut -d' ' -f2)
author  := $(shell dpkg-parsechangelog|grep ^Maintainer|cut -d: -f2|sed '1s/.//')

#export DH_VERBOSE=1

#build: build-stamp
#build-stamp:
#	dh_testdir

clean:
	rm -f debian/$(package).README.Debian
	rm -f debian/$(package).TODO
	dh_clean

build: clean
	dh_testdir
	pod2text -l -s doc/README.pod debian/$(package).README.Debian
	pod2text -l -s doc/TODO.pod debian/$(package).TODO

install: build svn-clean project-clean
	dh_clean
	dh_installdirs
	perl -i -ple "s#__package__#$(package)#og" debian/postinst debian/prerm

pkg-files:
	find * -type d -name .svn -prune -o -type f -print | grep -v ^Makefile$ | sort > MANIFEST 
	find doc/examples -type d -name .svn -prune -o -type f -print | sort > debian/$(package).examples 

pkg-src: svn-clean project-clean
	dpkg-buildpackage -S -rfakeroot -uc -us

pkg-deb:
	dpkg-buildpackage -b -rfakeroot -uc -us
#
#	dh_testroot
#	pbuilder update \
#	  --distribution etch \
#	  --override-config \
#	  --extrapackages subversion \
#	  --mirror http://ftp.uk.debian.org/debian
#	pbuilder build ../$(package)_$(version).dsc

svn-clean:
	dh_testroot
	dh_testdir
	find $(CURDIR) -type d -name .svn | xargs -r rm -rf

project-clean:
	dh_testroot
	rm -f .project

svn-co:
	dh_testdir
	svn co svn://metadb.ebuyer.com/trunk/depends .

binary-indep: install svn-clean project-clean pkg-files
	dh_testroot
	dh_installdirs
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install --fail-missing
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install svn-clean project-clean pkg-files

binary: binary-indep binary-arch

%.3pm: %.pm
	pod2man -s 3pm -n $package -c "Ebuyer Perl Documentation" $< $@

.PHONY: binary binary-arch binary-indep build svn-clean clean install pkg-files pkg-src pkg-deb
